body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

}
#calculator{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(182, 153, 117);
  border-radius: 15px;
  max-width:500px;
  overflow: hidden;
}
#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color:rgb(207, 198, 187) ;
}
#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  padding: 25px;
}
button{
  width:100px;
  height:100px;
  border-radius: 50px;
  border: none;
  background-color:antiquewhite;
  color:black;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color:rgb(238, 218, 190);
}
button:active{
  background-color: rgb(238, 218, 190);
}
.operator-btn{
  background-color: rgb(88, 71, 54);
}
.operator-btn:hover{
  background-color:rgb(126, 108, 83);
}